/* About section */
#about-me {
    padding: 4em;
    background: linear-gradient(0deg, #E8E2EF 0%, #CEC4D9 100%);
    margin-top: 10px;
}

#about {
    position: relative;

    height: 90vh;
    width: 100%;

    display: grid;
    justify-items: center;
}

#about h2 {
    position: relative;
    top: -30px;
}

#intro {
    display: flex;
    padding: 3em 5em;
    max-width: 900px;
}

#intro .container {
    padding: 2em;
}


.profile-pic {
    /* position: relative; */
    width: 242.11px;
    height: 250.55px;
    /* top: 218px; */
    object-fit: cover;
    object-position: 80% 0%;
    margin: 5em;
    border: 1px solid #3F2C27;
    box-sizing: border-box;
    /* Purple Shadow */

    box-shadow: 8px 8px 24px rgba(140, 110, 175, 0.2);
    border-radius: 200px;
}

.right-lines {

    position: absolute;
    top: 500px;
    right: -10px;
}

.timeline-path {
    position: absolute;
    margin: 0 50%;
    right: -100px;
}

#timeline {
    /* padding-bottom: 100px; */
    margin-bottom: 26em;
}

.timeline {
    max-width: 350px;
    position: relative;

}

.point-1 {
    left: 10%;
    top: 100px;
}

.point-2 {
    left: 60%;
    top: 100px;
}

.point-3 {
    left: 20%;
    top: 175px;
}

.point-4 {
    left: 55%;
    top: 220px;
}

.current {
    position: relative;
    text-align: center;
    top: 350px;
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 20pt;
    color: #7B5D8E;
}



/* .cta {
    min-width: 276px;
    min-height: 53px;
    padding: 1em;
    margin: auto;
}

.cta:hover {
    background: url(/assets/images/link-bg-hover.svg) no-repeat;
} */