/* About section */
#about {
    position: relative;
    background: linear-gradient(0deg, #E8E2EF 0%, #CEC4D9 100%);
    height: 90vh;
    width: 100%;
    top: 56px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 8px auto 8px;
    grid-template-rows: 8px auto 12px;
}

#about h1 {
    position: absolute;
    width: 326px;
    height: 63px;
    left: 603px;
    top: 118px;
}

.profile-pic {
    position: absolute;
    width: 242.11px;
    height: 250.55px;
    left: 226.84px;
    top: 218px;
    object-fit: cover;
    object-position: 80% 0%;

    border: 1px solid #3F2C27;
    box-sizing: border-box;
    /* Purple Shadow */

    box-shadow: 8px 8px 24px rgba(140, 110, 175, 0.2);
    border-radius: 200px;
}