/* Variables */
:root {
    --body-font: 'Open Sans', sans-serif;
    --header-font: 'Roboto Slab', serif;
    --light-font: 300;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #F8F5F3;
    --darkest-purple: #7B5D8E;
    --body-text-colour: #3F3327;
}

/* Variables end */

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0 10px 10px;
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 1.5;
    color: #3F2C27;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    line-height: 63px;

    color: #8F5D8E;

    /* H1 */

    text-shadow: 4px 4px 0px #F8F5F3;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    /* line-height: 42px; */

    color: #5C748E;
}

section {
    min-height: 95vh;
}

a {
    display: inline-block;
    font-weight: var(--bolder-font);
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #AA7949;
    text-decoration: none;
    background: url(/assets/images/link-bg.svg) no-repeat;
    background-size: contain;
}


/* Generic styling */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.iconoir-move-down {
    position: absolute;
    bottom: 25px;
}

.noir {
    position: relative;
    height: 29px;
    width: 24px;
    bottom: 5px;
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
    animation-iteration-count: infinite;
}

.bottom-lines {
    position: absolute;
    bottom: -10vh;
    left: 20px
}

.top-lines {
    position: absolute;
    top: -10vh;
    right: 20px;
    transform: rotate(180deg)
}

/**** Navbar styling  ***/

#nav-logo {
    height: 28px;
    width: 28px;
}

.logo-cont {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    position: fixed;
    /* Make it stick/fixed */
    /* top: -100px; */
    /* Hide the navbar 50 px outside of the top view */
    width: 100%;
    height: 56px;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
    box-shadow: 0px 12.44444465637207px 38.88888931274414px 0px hsla(24, 26%, 57%, 0.15);
    z-index: 5;

}

#nav-links {
    flex-grow: 3;
    display: flex;
    justify-content: center;
}

#nav-links a {
    display: inline-block;
    color: #AA7949;
    text-align: center;
    margin: 10px;
    padding: 4px 10px;
    text-decoration: none;
    /* border: 1.55556px dashed #AA7949; */
}

#nav-links a:hover {
    border: 1.55556px dashed #AA7949;
}


#socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#socials a {
    padding: 0;
    margin: 0;
}

/* Watermark */
#watermark {
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 3;
}